<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Ch6Arrays/src/sortingArray2/ComputerTermsSearch.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="sortingArray2.ComputerTermsSearch"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Ch6Arrays"/>
</launchConfiguration>
